<form id="edit_form" method="post" id="user_mt" class="easyui-tabs" data-options="fit:true,border:false">	
<table class="editTable">
	<tr>
		<th>ID</th>
		<td>{$user['id']}<input type="hidden" name="id" value="{$user['id']}"/></td>
	</tr>
	<tr>
		<th>用户ID</th>
		<td>{$user['userId']}<input type="hidden" name="userId" value="{$user['userId']}"/></td>
	</tr>
	<tr>
		<th>用户名</th>
		<td>{$user['userName']}<input type="hidden" name="userName" value="{$user['userName']}"/></td>
	</tr>
	<tr>
		<th>UserToken</th>
		<td>{$user['userToken']}<input type="hidden" name="userToken" value="{$user['userToken']}"/></td>
	</tr>
	<tr>
		<th>用户昵称</th>
		<td>
			<input type="text" name="nickName" value="{$user['nickName']}"/>
		</td>
	</tr>
	<tr>
		<th>元宝</th>
		<td>
			<input type="text" name="amount" value="{$user['amount']}"/>
		</td>
	</tr>
	<tr>
		<th>积分</th>
		<td>
			<input type="text" name="point" value="{$user['point']}"/>
		</td>
	</tr>
	<tr>
		<th>头像</th>
		<td>
			<input type="text" name="face" value="{$user['face']}"/>
		</td>
	</tr>
	<tr>
		<th>电话</th>
		<td>
			<input type="text" name="phone" value="{$user['phone']}"/>
		</td>
	</tr>
	<tr>
		<th>QQ</th>
		<td>
			<input type="text" name="qq" value="{$user['qq']}"/>
		</td>
	</tr>
	<tr>
		<th>邮箱</th>
		<td>
			<input type="text" name="email" value="{$user['email']}"/>
		</td>
	</tr>
	<tr>
		<th>邮箱</th>
		<td>
			<input type="text" name="address" value="{$user['address']}"/>
		</td>
	</tr>
	<tr>
		<th>机顶盒型号</th>
		<td>
			<input type="text" name="stbType" value="{$user['stbType']}"/>
		</td>
	</tr>
	<tr><th>注册时间</th><td>{$user['addTime']}</td></tr>
</table>
</form> 
